@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

input[type="password"] {
  font-family: arial;
	letter-spacing: 3px;
}

/* classes for setting svg colors */
.normal {
  filter: invert(0%)
}
.inverted {
  filter: invert(100%)
}

@layer components { 
  .navbar_button {
    @apply 
    text-custom_text
  }
  .navbar_text {
    @apply 
    text-custom_text
    hover:text-white
  }
  .article_box {
    @apply
    bg-custom_bg_light 
    rounded-lg 
    drop-shadow-md 
    ring-1 
    ring-custom_bg_alt
    p-5 
  }
  .text_input {
    @apply
    w-full
    p-2
    
    rounded
    text-base
    bg-custom_bg_regular
    
    caret-custom_accent_1
    ring-1
    ring-custom_bg_alt
    focus:outline-none
    focus:ring-custom_accent_1
    focus:ring-2
  }
  .sidebar_button {
    @apply
    p-2

    rounded-lg
    hover:bg-custom_bg_regular
  }
  .sidebar_button_selected {
    @apply
    p-2

    rounded-lg
    bg-custom_bg_light
    drop-shadow-sm
  }
  .student_button {
    @apply 
    sidebar_button
    flex 
    items-center
    text-left	
    rounded-none 
    border-t 
    border-custom_bg_light 
    p-3 
    gap-3
  }
  .student_button_menu_open {
    @apply
    bg-custom_bg_light
    hover:bg-custom_bg_regular
  }
  .drop_shadow_fixed_sm {
    @apply
    drop-shadow-[0_1px_1px_rgba(0,0,0,0.40)]
  }
  .drop_shadow_fixed_md {
    @apply
    drop-shadow-[0_2px_2px_rgba(0,0,0,0.40)]
  }
  .drop_shadow_fixed_lg {
    @apply
    drop-shadow-[0_3px_3px_rgba(0,0,0,0.40)]
  }
  .generic_link {
    @apply
    underline
    text-custom_accent_2_hover
  }
  .table {
    @apply
    ring-1
    ring-custom_bg_alt 
    w-full
    table-auto 
    rounded-lg
    overflow-hidden
  }
  .table_cell {
    @apply
    py-2
    px-4
    text-sm
  }
  .table_row {
    @apply
    hover:bg-custom_bg_light
    bg-custom_bg_regular
    border-t
    border-custom_bg_alt
  }
}
