<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="title">OpenQ</title>
    <link rel=icon href="/assets/icons/favicon_32.png" type="image/png">
    <link rel="stylesheet" href="/css/dist.css">
    {% block head %}
    {% endblock %}
    
    <script type="module">
      import * as app from "/js/app.js";
      app.main("{{page}}");
    </script>

  </head>
  
  <body class="h-screen bg-custom_bg_regular text-custom_text">
    <div class="h-screen flex flex-col">
      <div class="flex flex-1 items-stretch h-full">
        <div class="w-64 flex flex-col items-stretch bg-custom_bg_dark border-r border-custom_bg_light gap-2 overflow-auto">
          <div class="flex flex-col p-4 gap-3">
            <img class="w-36 drop_shadow_fixed_md" src="/assets/title.svg">
            <a id="assignments_link" class="sidebar_button" href="/assignments">Assignments</a>
            <a id="demographics_link" class="sidebar_button" href="/demographics">Demographics</a>
            <a id="attendance_link" class="sidebar_button" href="/attendance">Attendance</a>
          </div>
          <div id="sidebar_spacer" class="flex-1"></div>
          
          <div id="students_menu" class="hidden flex-col overflow-hidden rounded-lg bg-custom_bg_regular mx-2 gap-1">
            <button id="menu_student_template" class="hidden rounded-lg student_button hover:bg-custom_bg_light">
              <img id="menu_student_template_img" class="h-12 rounded-lg" src="">
              <div class="flex-1">
                <p id="menu_student_template_name"></p>
                <p id="menu_student_template_year" class="text-sm text-custom_text_alt"></p>
              </div>
            </button>
            <button id="logout_button" class="flex rounded-lg bg-custom_accent_1 hover:bg-custom_accent_1_hover p-2 gap-2">
              <svg class="stroke-custom_text my-auto h-6" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 12h7m0 0l-3 3m3-3l-3-3M19 6V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2h10a2 2 0 002-2v-1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              <p>Log Out</p>
            </button>
          </div>
          <button id="selected_student" class="student_button">
            <img id="selected_student_img" class="h-12 rounded-lg" src="">
            <div class="flex-1">
              <p id="selected_student_name"></p>
              <p id="selected_student_year" class="text-sm text-custom_text_alt"></p>
            </div>
            <svg id="arrows_seperate" class="stroke-custom_text" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 9.5L12 6 8.5 9.5M15.5 14L12 17.5 8.5 14" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <svg id="arrows_union" class="stroke-custom_text hidden" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 6L12 9.5 8.5 6M15.5 17.5L12 14l-3.5 3.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </button>
        </div>
        <div class="flex-1 flex flex-col overflow-auto">
          <div id="main_div" class="p-3 flex-1 flex flex-col gap-2">
          </div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
