{% extends "info.html" %}
{% set selected = "assignments_link" %}

{% block title %}Assignments - OpenQ{% endblock %}

{% block head %}
<script type="module" src="/js/assignments.js"></script>
{% endblock %}

{% block content %}
<div class="p-3 flex-1 flex flex-col gap-2">
  <h2 class="text-xl">Assignments Overview:</h2>
  <table id="grades_summary_table" class="table">
    <thead class="bg-custom_bg_light w-fit">
      <tr class="text-left bg-custom_bg_light">
        <th scope="col" class="table_cell">Period</th>
        <th scope="col" class="table_cell">Class</th>
        <th scope="col" class="table_cell">Teacher</th>
        <th scope="col" class="table_cell">Grade</th>
      </tr>
    </thead>
    <tbody id="grades_summary_table_body">
    </tbody>
  </table>
  <p>Click on a row to view detailed information.</p>
</div>
{% endblock %}