{% extends "base.html" %}

{% block title %}Log In - Open Q{% endblock %}

{% block head %}
<script type="module" src="/js/login.js"></script>
{% endblock %}

{% block content %}
<div class="w-full p-4">
  <div class="mx-auto w-fit article_box pb-3">
    <img class="h-24" src="/assets/title.svg">
    <h3 class="text-center text-xl mb-3">Login</h3>
    
    <form class="mb-2" id="login_form" name="login_form">
      <label for="username_input">Student ID:</label><br>
      <input class="text_input" type="text" id="username_input" name="username_input" placeholder="00000" autocomplete="username"><br>
      <p id="username_error_text" class="text-red-400">&nbsp;</p>
      
      <label for="password_input">Password:</label><br>
      <input class="text_input" type="password" id="password_input" name="password_input" placeholder="••••••••" autocomplete="current-password"><br>
      <p id="password_error_text" class="text-red-400 mb-1">&nbsp;</p>
      
      <input class="w-full bg-custom_accent_1 text-white rounded p-1" type="submit" name="submit" id="submit" value="Sign In"/>
    </form>
    
    <p id="error_text" class="text-red-400"></p>
  </div>
</div>
{% endblock %}