{% extends "base.html" %}

{% block title %}OpenQ - Log In{% endblock %}

{% block head %}
<script type="module" src="/js/login.js"></script>
{% endblock %}

{% block content %}
<p>OpenQ</p>
<h3>Login</h3>
<br>
<form id="login_form" name="login_form">
  <label for="username_input">Student ID:</label><br>
  <input type="text" id="username_input" name="username_input" placeholder="00000" autocomplete="username"><br><br>
  <label for="password_input">Password:</label><br>
  <input type="password" id="password_input" name="password_input" placeholder="********" autocomplete="current-password"><br><br>
  <input type="submit" name="submit" id="submit" value="Sign In"/>
</form>
{% endblock %}